<section id="graficas" class="isHidden">
	<div class="row">
		<h3></h3>
	</div>
	<form>
		<div class="row">
			<div class="small-8 columns">
				<div class="pnl-grafica-mes">
				</div>
				<br>
				<br>
				<br>
				<div class="pnl-grafica-dia">
				</div>
			</div>
			<div class="small-4 columns">
				<div class="row">
					<div class="small-12 columns">
						<label>
							Mes
							<select disabled>
								<option value="0">En Promedio</option>
								<option value="1">Enero</option>
								<option value="3">Febrero</option>
								<option value="4">Marzo</option>
								<option value="5">Abril</option>
								<option value="6">Mayo</option>
								<option value="7">Junio</option>
								<option value="8">Julio</option>
								<option value="9">Agosto</option>
								<option value="10">Septiembre</option>
								<option value="11">Noviembre</option>
								<option value="12">Diciembre</option>
							</select>
						</label>
					</div>
					<div class="row">
						<div class="small-12 columns">
							<br/>
							<br/>
							<label>
								<input type="radio" name="graficas" value="1" class="tipo-grafica irracion">
								Irradiación
							</label>
						</div>
						<div class="small-12 columns">
							<label>
								<input type="radio" name="graficas" value="2" class="tipo-grafica">
								Energía
							</label>
						</div>
						<div class="small-12 columns">
							<label>
								<input type="radio" name="graficas" value="3" class="tipo-grafica">
								Output
							</label>
						</div>
						<!--<div class="small-12 columns">
							<label>
								<button type="button" class="btn-calcular tiny success button guardar-btn">Calcular</button>
							</label>
						</div>-->
					</div>
				</div>
			</div>
		</div>
	</form>
</section>