<section id="graficas">
	<script src="../js/highcharts.js"></script>
	<script src="../js/modules/exporting.js"></script>
	<script src="../js/modules/data.js"></script>
	<script src="../js/modules/drilldown.js"></script>
	<div class="row">
		<h3>Gráficas</h3>
	</div>
	<form>
		<div class="row">
			<div class="small-8 columns">
			</div>
			<div class="small-3 columns">
				<label>
					<select>
						<option value="0">En Promedio</option>
						<option value="1">Enero</option>
						<option value="3">Febrero</option>
						<option value="4">Marzo</option>
						<option value="5">Abril</option>
						<option value="6">Mayo</option>
						<option value="7">Junio</option>
						<option value="8">Julio</option>
						<option value="9">Agosto</option>
						<option value="10">Septiembre</option>
						<option value="11">Noviembre</option>
						<option value="12">Diciembre</option>
					</select>
				</label>
			</div>
		</div>
	</form>
</section>