<section id="graficas" class="isHidden">
	<div class="row">
		<div class="small-6 columns">
			<label>
				Mes
				<select disabled>
					<option value="0">En Promedio</option>
					<option value="1">Enero</option>
					<option value="3">Febrero</option>
					<option value="4">Marzo</option>
					<option value="5">Abril</option>
					<option value="6">Mayo</option>
					<option value="7">Junio</option>
					<option value="8">Julio</option>
					<option value="9">Agosto</option>
					<option value="10">Septiembre</option>
					<option value="11">Noviembre</option>
					<option value="12">Diciembre</option>
				</select>
			</label>
		</div>
		<div class="small-2 columns">
			<br/><br/>
			<label>
				<input type="radio" name="graficas" value="1" class="tipo-grafica irracion">
				Salida de agua
			</label>
		</div>
		<div class="small-2 columns">
			<br/><br/>
			<label>
				<input type="radio" name="graficas" value="2" class="tipo-grafica">
				Energía
			</label>
		</div>
		<div class="small-2 columns">
			<br/><br/>
			<label>
				<input type="radio" name="graficas" value="3" class="tipo-grafica">
				Irradiación
			</label>
		</div>
	</div>

	<div class="pnl-grafica-mes"></div>
	<div class="pnl-grafica-dia"></div>
</section>