<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>ORLED</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/Site.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/foundation.min.css">
    <link rel="stylesheet" href="/styles/icomoon.css">
    <link rel="stylesheet" href="/styles/jquery.datetimepicker.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/search.css">
    <link rel="stylesheet" href="/styles/semantic.min.css">
    <link rel="stylesheet" href="/styles/typeahead.css">
    <!--STYLES END-->

    <link rel="shortcut icon" href="/images/favicon.ico">
    <!--link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.2.0/css/font-awesome.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Diplomata+SC' rel='stylesheet' type='text/css'-->
  </head>

  <body>
    <%- body %>
    <header >   
        <section class="icon-list info-user">
            <ul class="icon-list-custom">
                <li id="joyr_first">
                
                </li>
                <li>
                    
                </li>
                <li>
                    
                </li>
            </ul>
            <ul class="pull-right">
                <li>
                    
                </li>
                <li>
                    
                </li>
            </ul>
        </section>
    </header>
    <footer class="isHidden">
        <p><i class="fa fa-warning"></i> El sistema esta en mantenimiento y puede que algunas funcionalidades no funcionen correctamente</p>
    </footer>
    <nav class="">
        <div class="busqueda">
            <span>
                <input type="text" class="txtBusqueda" placeholder="Busqueda de menu..."/>
            </span>
        </div>
    </nav>

    <main>
        <section id="load_content"></section>
    </main>

    <div class="wrap-layer">
    </div>

    <div class="pnl-print isHidden"></div>
      
    

    <section class="pnlAlert warning ">
    </section>
    <div id="popConfirmacion" class="reveal-modal tiny popConfirmacion reveal-custom" data-reveal="data-reveal">
        <section class="pop-head">
            <label>Eliminar</label>
        </section>
        <section class="pop-body">
            <label class='pregunta'>¿Desea eliminar el registro seleccionado?</label>
        </section>
        <section class="pop-footer">
            <button type="button" class="button success tiny btn-aceptar aceptar-btn">Aceptar</button>
            <button type="button" class="button alert tiny btn-cancelar cancelar-btn">Cancelar</button>
        </section>
    </div>
    <div class="tiny reveal-modal  reveal-custom" id="popAdvertencia" data-reveal>
        <section class="pop-head">
            <label>Advertencia</label>
        </section>
        <section class="pop-body text-left">
            <label class="mensaje"></label>
        </section>
        <section class="pop-footer">
            <button type="button" class="button tiny success custom-button btn-aceptar aceptar-btn">Aceptar</button>
        </section>
    </div>
=======
	<title>ORLED</title>

	<!-- Viewport mobile tag for sensible mobile support -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta charset="utf-8">

	<!--STYLES-->
	<link rel="stylesheet" href="/styles/Site.css">
	<link rel="stylesheet" href="/styles/font-awesome.min.css">
	<link rel="stylesheet" href="/styles/foundation.min.css">
	<link rel="stylesheet" href="/styles/icomoon.css">
	<link rel="stylesheet" href="/styles/jquery.datetimepicker.css">
	<link rel="stylesheet" href="/styles/main.css">
	<link rel="stylesheet" href="/styles/search.css">
	<link rel="stylesheet" href="/styles/semantic.min.css">
	<link rel="stylesheet" href="/styles/typeahead.css">
	<!--STYLES END-->

	<link rel="shortcut icon" href="/images/favicon.ico">
	<!--link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.2.0/css/font-awesome.min.css" />
	<link href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Diplomata+SC' rel='stylesheet' type='text/css'-->
  </head>

  <body>
	<%- body %>
	<header >	
		<section class="icon-list info-user">
			<ul class="icon-list-custom">
				<li id="joyr_first">
				
				</li>
				<li>
					
				</li>
				<li>
					
				</li>
			</ul>
			<ul class="pull-right">
				<li>
					
				</li>
				<li>
					
				</li>
			</ul>
		</section>
	</header>
 	<footer class="isHidden">
 		<p><i class="fa fa-warning"></i> El sistema esta en mantenimiento y puede que algunas funcionalidades no funcionen correctamente</p>
 	</footer>
	<nav class="">
		<div class="busqueda">
			<span>
				<input type="text" class="txtBusqueda" placeholder="Busqueda de menu..."/>
			</span>
		</div>
	</nav>

	<main>
		<section id="load_content"></section>
	</main>

	<div class="wrap-layer">
	</div>

	<div class="pnl-print isHidden"></div>
	  
	

	<section class="pnlAlert warning ">
	</section>
	<div id="popConfirmacion" class="reveal-modal tiny popConfirmacion reveal-custom" data-reveal="data-reveal">
		<section class="pop-head">
			<label>Eliminar</label>
		</section>
		<section class="pop-body">
			<label class='pregunta'>¿Desea eliminar el registro seleccionado?</label>
		</section>
		<section class="pop-footer">
			<button type="button" class="button success tiny btn-aceptar aceptar-btn">Aceptar</button>
			<button type="button" class="button alert tiny btn-cancelar cancelar-btn">Cancelar</button>
		</section>
	</div>
	<div class="tiny reveal-modal  reveal-custom" id="popAdvertencia" data-reveal>
		<section class="pop-head">
			<label>Advertencia</label>
		</section>
		<section class="pop-body text-left">
			<label class="mensaje"></label>
		</section>
		<section class="pop-footer">
			<button type="button" class="button tiny success custom-button btn-aceptar aceptar-btn">Aceptar</button>
		</section>
	</div>
>>>>>>> 046d664b43635c07b410711126ca62c810bb2689
  </body>
</html>
