/* --- Colores Base --- */
color-font = #fff
color-font-sm = #F8F8F8
color-base = #015DCA
color-base-sub = #333333
color-hover= #99CCFF

/* --- iconos --- */
icon-change = 	'\e602'
icon-mail = 	'\f003'
icon-bell = 	'\f0a2'
icon-comment = 	'\f0e5'
icon-group = 	'\f037'
icon-help = 	'\f02c'
icon-users = 	'\e972'
icon-user = 	'\e60b'
icon-cross = 	'\e117'
icon-calendar = '\e600'
icon-badge = 	'\e601'
icon-spinner = 	'\e603'
icon-next = 	'\e604'
icon-begin = 	'\e605'
icon-home = 	'\e606'
icon-correct = 	'\e607'
icon-end = 	    '\e608'
icon-checkbox = '\e609'
icon-vcard = 	'\e60a'
icon-folder = 	'\e60c'
icon-books = 	'\e920'
icon-profile = 	'\e923'
icon-user-tie = '\e976'
icon-man-woman = '\e9de'
icon-search = 	'\f02e'
icon-menu = 	'\f05e'
icon-chevron-right = '\f079'
icon-settings = '\f085'
icon-chevron-down =  '\f0a3'
icon-desc = '\f160'
icon-asc = 	'\f161'
icon-border-bottom = '\f161'
icon-border-left = '\e60e'
icon-border-right = '\e60f'
icon-border-top = '\e610'
icon-preview = 	'\e007'
icon-side = '\e614'
icon-container = '\e612'
icon-text = '\f031'
icon-image = '\f03e'
icon-square = '\f096'
icon-newSection = '\e615'
icon-minus = '\e611'
icon-arrow = '\e616'
icon-move-vertical = '\e617'
icon-plus = '\f05d'
icon-copy = '\e92c'
icon-listpunto = '\e9bb'
icon-trash = '\e619'
icon-random = '\e618'
icon-save = '\f0c7'
icon-punto = '\e61a'
icon-chat = '\e61b'
icon-empresa = '\e903'
icon-add = '\e61c'
icon-emergencia = '\e998'
icon-download = '\e933'
icon-upload = '\e934'
icon-cross-bold = '\ea0f'
icon-blocked = '\ea0e'
icon-modify = '\e906'
icon-key = '\e61d'
icon-money = '\e61f'
icon-bars = '\e628'
icon-allGrap = '\e62f'
icon-Colum = '\e61e'
icon-area-chart = '\f1fe'
icon-pie-chart = '\f200'
icon-line-chart = '\f201'
icomoon()
	font-family 'icomoon'

clear()
	margin 0
	padding 0

fsombra(x = 3px, y = 3px, d = 10px, c = #333)
	text-shadow x y d c
	
.icon-vcard::before
	content icon-vcard
	icomoon()	
.icon-user::before
	content icon-user
	icomoon()
.icon-bell::before
	content icon-bell
	icomoon()
.icon-comment::before
	content icon-comment
	icomoon()
.icon-mail::before
	content icon-mail
	icomoon()
.icon-help::before
	content icon-help
	icomoon()
.icon-change::before
	content icon-change
	icomoon()
.icon-group::before
	content icon-group
	icomoon()
.icon-users::before
	content icon-users
	icomoon()
.icon-user::before
	content icon-user
	icomoon()
.icon-cross::before
	content icon-cross
	icomoon()
.icon-calendar::before
	content icon-calendar
	icomoon()
.icon-badge::before
	content icon-badge
	icomoon()
.icon-spinner::before
	content icon-spinner
	icomoon()
.icon-next::before
	content icon-next
	icomoon()
.icon-begin::before
	content icon-begin
	icomoon()
.icon-home::before
	content icon-home
	icomoon()
.icon-correct::before
	content icon-correct
	icomoon()
.icon-end::before
	content icon-end
	icomoon()
.icon-checkbox::before
	content icon-checkbox
	icomoon()
.icon-folder::before
	content icon-folder
	icomoon()
.icon-books::before
	content icon-books
	icomoon()
.icon-profile::before
	content icon-profile
	icomoon()
.icon-user-tie::before
	content icon-user-tie
	icomoon()
.icon-man-woman::before
	content icon-man-woman
	icomoon()
.icon-search::before
	content icon-search
	icomoon()
.icon-menu::before
	content icon-menu
	icomoon()
.icon-chevron-right::before
	content icon-chevron-right
	icomoon()
.icon-settings::before
	content icon-settings
	icomoon()
.icon-chevron-down::before
	content icon-chevron-down
	icomoon()
.icon-desc::before
	content icon-desc
	icomoon()
.icon-asc::before
	content icon-asc
	icomoon()
.icon-border-bottom::before
	content icon-border-bottom
	icomoon()
.icon-border-left::before
	content icon-border-left
	icomoon()
.icon-border-right::before
	content icon-border-right
	icomoon()
.icon-border-top::before
	content icon-border-top
	icomoon()
.icon-preview::before
	content icon-preview
	icomoon()
.icon-side::before
	content icon-side
	icomoon()
.icon-container::before
	content icon-container
	icomoon()
.icon-text::before
	content icon-text
	icomoon()
.icon-image::before
	content icon-image
	icomoon()
.icon-square::before
	content icon-square
	icomoon()
.icon-newSection::before
	content icon-newSection
	icomoon()
.icon-minus::before
	content icon-minus
	icomoon()
.icon-arrow::before
	content icon-arrow
	icomoon()
.icon-move-vertical::before
	content icon-move-vertical
	icomoon()
.icon-plus::before
	content icon-plus
	icomoon()
.icon-copy::before
	content icon-copy
	icomoon()
.icon-listpunto::before
	content icon-listpunto
	icomoon()
.icon-trash::before
	content icon-trash
	icomoon()
.icon-random::before
	content icon-random
	icomoon()
.icon-save::before
	content icon-save
	icomoon()
.icon-punto::before
	content icon-punto
	icomoon()
.icon-chat::before
	content icon-chat
	icomoon()
.icon-empresa::before
	content icon-empresa
	icomoon()
.icon-add::before
	content icon-add
	icomoon()
.icon-emergencia::before
	content icon-emergencia
	icomoon()
.icon-download::before
	content icon-download
	icomoon()
.icon-upload::before
	content icon-upload
	icomoon()
.icon-cross-bold::before
	content icon-cross-bold
	icomoon()
.icon-blocked::before
	content icon-blocked
	icomoon()
.icon-modify::before
	content icon-modify
	icomoon()
.icon-key::before
	content icon-key
	icomoon()
.icon-bars::before
	content icon-bars
	icomoon()
.icon-money::before
	content icon-money
	icomoon()
.icon-bars::before
	content icon-bars
	icomoon()
.icon-allGrap::before
	content icon-allGrap
	icomoon()
.icon-area-chart::before
	content icon-area-chart
	icomoon()
.icon-pie-chart::before
	content icon-pie-chart
	icomoon()
.icon-line-chart::before
	content icon-line-chart
	icomoon()
.icon-Colum::before
	content icon-Colum
	icomoon()
/* --- Clases Iconos --- */
.agregar-btn
	&::before
		icomoon()
		content icon-add
		margin-right 10px
		
		font-size 1em
.adelante-btn
	&::before
		icomoon()
		content icon-chevron-right
		margin-right 10px
		
		font-size 1em
.ayuda-btn
	&::before
		icomoon()
		content icon-help
		margin-right 10px
		
		font-size 1em
.cancelar-btn
	background-color #9C0707 !important
	&::before
		icomoon()
		content icon-cross
		margin-right 10px
		font-size 1em
.modificar-btn
	&::before
		icomoon()
		content icon-modify
		margin-right 10px
		
		font-size 1em
.aceptar-btn
	&::before
		icomoon()
		content icon-correct
		margin-right 10px
		
		font-size 1em
.guardar-btn
	&::before
		icomoon()
		content icon-save
		margin-right 10px
		
		font-size 1em
.datos-btn
	&::before
		icomoon()
		content icon-profile
		margin-right 10px
		
		font-size 1em
.grupo-btn
	&::before
		icomoon()
		content icon-group
		margin-right 10px
		
		font-size 1em
.validar-btn
	&::before
		icomoon()
		content icon-checkbox
		margin-right 10px
		
		font-size 1em
.login-btn
	&::before
		font-family 'icomoon'
		content icon-key
		margin-right 10px
		
		font-size 1em
.baja-btn
	&::before
		icomoon()
		content icon-download
		margin-right 10px
		
		font-size 30px
.ver-btn
	&::before
		icomoon()
		content icon-preview
		margin-right 10px
		
		font-size 1em
.cambiar-btn
	&::before
		icomoon()
		content icon-change
		margin-right 10px
		
		font-size 1em
.buscar-btn
	&::before
		icomoon()
		content icon-search
		margin-right 10px
		
		font-size 1em	
.chat-btn
	&::before
		icomoon()
		content icon-chat
		margin-right 10px
		
		font-size 1em
.dinero-btn
	&::before
		icomoon()
		content icon-money
		margin-right 10px
		
		font-size 1em	
.subir-btn
	&::before
		icomoon()
		content icon-upload
		margin-right 10px
		
		font-size 1em	
.lineas-btn
	&::before
		icomoon()
		content icon-line-chart
		margin-right 10px
		
		font-size 1em	
.todasGraficas-btn
	&::before
		icomoon()
		content icon-allGrap
		margin-right 10px
		
		font-size 1em	
.area-btn
	&::before
		icomoon()
		content icon-area-chart
		margin-right 10px
		
		font-size 1em	
.columnas-btn
	&::before
		icomoon()
		content icon-Colum
		margin-right 10px
		
		font-size 1em	
.barras-btn
	&::before
		icomoon()
		content icon-bars
		margin-right 10px
		
		font-size 1em	
.pastel-btn
	&::before
		icomoon()
		content icon-pie-chart
		margin-right 10px
		
		font-size 1em	
.generar-btn
	&::before
		icomoon()
		content icon-settings
		margin-right 10px
		
		font-size 1em	
/* --- Clases Icono Inputs/Tya --- */
.tt-input
	&::-webkit-input-placeholder		
		&::before
			font-family 'icomoon'
			content icon-search
			margin-right 5px

.icon-list
	ul
		&.icon-list-custom
			li
				padding -5px !important	
				margin -5px !important
				height 65px	
				&:hover
					background-color color-hover
					cursor pointer
				&.active
					background-color color-hover
				i
					color #fff
					margin-left 12px
					margin-right 12px
				a
					img
						height 30px !important
		&.icon-list-custom-sub
			margin 0px
			padding 0px
			li
				padding -5px !important	
				margin -5px !important
				height 55px
				&:hover
					background-color color-hover
					cursor pointer
				&.active
					background-color color-hover
				i
					color #fff
					margin-left 12px
					margin-right 12px
				a
					img
						height 25px !important
.observacionesTxtArea
	width 600px
	height 130px
	resize none
.reveal-custom
	border-radius 11px
	border-radius 11px
		
	.pop-head
		background-color color-base
		position absolute
		top 0px
		left 0px
		right 0px
		padding-bottom 20px
		
		height 35px
		border-top-left-radius 10px
		border-top-right-radius 10px

		label
			color #fff
			position absolute
			top 5px
			left 10px
			font-weight bold
	.pop-body
		margin-top 25px

body,
html
	font-family Arial
	/*font-family "PT Sans", sans-serif*/
	font-family "Raleway", Arial, sans-serif
	font-size 12px
	height 100%
	/*overflow hidden*/
	width 100%
	zoom 85%


	clear()
div.sub-menu-custom
	background-color color-base-sub !important
	position relative
	top -10px !important
	height 50px !important
	z-index 10
	padding 0px !important
	margin 0px !important
	width 100% !important
	padding-top 10px !important
	border-radius 0px 0px 10px 10px
	
	p 
		span
			color color-font
section
	height 50%
	&.icon-list
		left 10px
		position absolute
		right 0
		top 0

		ul
			clear()
			display inline-block
			vertical-align top
			width 400px !important
			li
				display inline-block
				font-size 1.3em
				line-height 60px
				font-weigth bold
				a
					color color-font

					fsombra()
header
	background-color color-base
	height 60px
	left 0
	overflow hidden
	position relative
	top 0
	z-index 10
	.logo
		height 60px

		img
			display block
			height 100%
			margin 0 auto
			padding 0.7em 1em
			width 140px

	section
		height 50%
		&.icon-list
			left 10px
			position absolute
			right 0
			top 0

			ul
				clear()
				display inline-block
				vertical-align top
				width 400px !important

				&.pull-right
					margin-right 1em
					float right

				li
					display inline-block
					font-size 1.3em
					line-height 60px
					font-weigth bold

					.info-plantel
						border-bottom 1px solid #fff
						font-weigth bold

					.info-periodo
						color color-font

					a
						color color-font

						fsombra()
						
		&.profile
			height 60px
			cursor pointer
			display block
			float left
			width 200px

			figure,
			span
				display inline-block
				line-height 60px
				vertical-align top

			figure
				height 100%

				img
					height 100%
					width 80px

			span
				&.icono
					display inline-block
					text-align center
					width 35px

					span
						display inline-block
						width 100%

						&::before
							content icon-menu
							color #EEE
							font-family  'icomoon'
							font-size  2em

				&.lblUsuario
					color color-font
					font-weight bold
					font-size 1em
					padding-left 1em
					width 155px

					fsombra()

			&:hover
				background-color #575A67

nav,
main
	bottom 0
	left 0
	padding-top 70px
	position absolute
	top 0
	z-index 1
nav
	background-color color-base !important
	left -300px
	width 300px
	overflow scroll
	z-index 9

	transition left 0.8s

	div
		&.busqueda
			span
				position relative

				input
					border none
					background-color transparent
					color gray
					margin 0
					padding-left 45px

				&::before
					content icon-search
					color gray
					font-family  'icomoon'
					height 42px
					line-height 42px
					position absolute
					text-align center
					top 0
					width 40px
					z-index 90


	ul
		clear()

		&.menu-n1,
		&.search-n1
			li
				display block
				font-weight bold
				line-height 60px

				a
					border-bottom 1px solid #555
					display block
					color #999
					padding 0 1em
					position relative

					fsombra()

					i
						position absolute
						right 1em
						top 20px

					&:hover
						color color-font-sm

				&:first-child
					a
						border-top 1px solid #555

				&.isActive
					> a
						color color-font-sm

					ul.menu-n2
						li.isActive
							a
								color color-font-sm

		&.menu-n2
			background-color #575A67
			display none
			
			clear()

			li
				font-size 0.8em
				line-height 40px

				a
					border none
					padding-left 3em

					&:hover
						color color-font-sm

				&:first-child
					a
						border-top none

		&.search-n1
			background-color #575A67

			li
				font-size 0.8em
				line-height 40px

				a
					border none
					padding-left 3em

					&:hover
						color color-font-sm

				&:first-child
					a
						border-top none

	&.is-menu-open
		left 0px

		transition left 0.3s

input
	.expand
		width 100%

.big-checkbox 
	padding 18px !important
.big-checkbox:checked:after 
	font-size 28px !important
	left 6px !important

.regular-checkbox 
	appearance none
	background-color #fafafa
	border 1px solid #cacece
	padding 9px
	border-radius 3px
	display block
	position relative
.regular-checkbox:checked 
	background-color #e9ecee
	border 1px solid #adb8c0
	color #99a1a7
.regular-checkbox:checked:after 
	content '\2714'
	font-size 14px
	position absolute
	top 0px
	left 3px
	color #99a1a7

footer
	top 0
	padding 65px 1em 0.5em 1em
	position absolute
	text-align center
	width 100%
	z-index 5

	p
		border 1px solid #555
		background-color #F44
		color #EEE
		display block
		font-size 1.3em !important
		font-weight bold !important
		margin 0 auto
		padding 0.5em 1em
		width 90%

		fsombra()

main
	padding 70px 1em 0 1em
	right 0
	z-index 1

	transition left 0.8s

	&.is-menu-open
		left 300px

		transition left 0.3s

.wrap-layer
	background-color rgba(30, 30, 30, 0.5)
	display none
	bottom 0
	left 0
	position absolute
	right 0
	top 0
	z-index 7

	&.is-menu-open
		display block

.accordion

	&.accordion-custom

		dd.accordion-navigation
			a
				background-color color-base
				color #fff
				border-bottom solid #fff

			div
				&.content
					border 1px solid #C0C0C0
					background-color #EAEAEA
					max-height 30
					
				&.scrollContent
					overflow hidden
					overflow-y scroll
.scrollDiv-y
	overflow hidden
	overflow-y scroll
	height 200px
					
.bloque
	background-color color-base
	padding 1em 0
	margin-top 5px
	max-height 200px

	&:hover
		background-color color-hover
		cursor pointer
	
	&.no-active
		border 2px double red !important

		&:hover
			background-color color-base
			cursor default

	i
		color #fff
		display block
		font-size 52px
		text-align center
		padding-top 20px

	span
		color #fff
		display block
		margin 0 auto
		text-align center
		word-wrap break-word

.wrap-table
	margin 0 auto
	overflow-x scroll
	width 1093px

table
	tbody
		tr
			&.isSelected
				background-color #CDCDCD

				td
					color #EEE
					font-weight bold
					
			td
				[class^="icon-"]
					cursor pointer

	&.table-scroll
		border-spacing 0

		tbody,
		thead
			display block

		tbody
			height auto
			max-height 365px
			overflow-y auto
			overflow-x hidden

		tbody td,
		thead th
			white-space nowrap

	&.table-content-center
		th,
		td
			font-size 0.6em
			text-align center	
	&.compact
		tbody
			tr

				td
					margin 0
					padding 0

					input
						margin 0
						padding 0

	&.table-custom
		width 100%
		margin-top 10px
		thead
			tr
				border 1px solid #D6D6D6
				
				&.titulo
					background-color color-base
					span
						color #fff
				th.min
					width 100px			

		tbody
			tr
				&.rowHover:hover
					background-color color-hover
					cursor pointer
					td
						color #fff
				td
					
					border 1px solid #D6D6D6
					&.min
						width 30%
					&.tableEmpty
						background-color #EAEAEA
				&:hover
					background-color  #D6D6D6
					cursor pointer

				&.isActive
					background-color rgba(205, 205, 205, 0.2)
		tfoot
			tr
				td
					border 1px solid white
		
		.table-row-full
			width 100%
			
		.table-row-half
			display inline-block
			vertical-align top
			width 50%

	&.pointer

		tbody

			tr
				&:hover
					cursor pointer
					background-color color-hover

					td
						color #fff
.tabs
	&.verticaltabs
		&.tabs-custom
			dd
			&.active				
				a
					background-color #800000
					i,span
						color #fff
					
			a
				background-color color-base-sub
				
				&:hover
					background-color #800000
					i,span
						color #fff
			i,
			span
				display block
				text-align center
				color #fff
				font-size 12px
			i
				color #fff
				font-size 32px
	&.tabs-custom
		dd
			&.active				
				a
					background-color #800000
					i,span
						color #fff
					
			a
				background-color color-base-sub
				
				&:hover
					background-color #800000
					i,span
						color #fff
			i,
			span
				display block
				text-align center
				color #fff
				font-size 12px
			i
				color #fff
				font-size 32px

	.tab-title
		&.error
			a
				background-color #A55 !important
				
.tabs-content-custom
	padding-left 10px
	padding-right 10px
	background-color #EEE

@media screen and (min-width: 40.063em)
	.tabs.vertical
		&.tabs-custom
			width 15%
	.tabs-content.vertical
		width 80%
		float left
		margin-left -1px	

.bb-grid 
	margin 0 auto
	
	thead
		border 1px solid #DDD
		background-color color-base
		
		th
			font-size 1em
			border-left 1px solid #6B6B6B

			&:first-child
				border-left none

			span
				color #fff

		.gv-order 
			cursor  pointer
			
			&.gv-asc strong span::after 
				content  icon-asc
				float  right
				font-family  'icomoon'
				font-size  1em
				font-weight  normal !important
			
			&.gv-desc strong span::after 
				content  icon-desc
				float  right
				font-family  'icomoon'
				font-size  1em
				font-weight  normal !important
				
			input 
				height  1.7em
				font-weight  normal !important
			
		.gv-col-command::before 
			content  icon-settings
			font-family  'icomoon'
			font-size  1.5em
			font-weight  normal
	
	tbody
		border 1px solid #DDD
		
		input[type="checkbox"] 
			border 1px solid blue !important
			display  inline-block
			height  80% !important
			margin-top  1em
			width  80% !important
			
		tr
			td
				font-size 0.9em
				border-left 1px solid #DDD
				white-space nowrap
				overflow hidden
				text-overflow ellipsis

				&:first-child
					border-left none

			&.isSelected
				background-color #CDCDCD

				td
					color #000
					font-weight bold
			
	tfoot
		border 1px solid transparent
		background-color white
		
		tr 
			td
				font-weight normal !important

		.gv-all::before 
			content  icon-all
			font-family  'icomoon'
			font-size  1.7em
			
		.gv-begin::before 
			content  icon-play
			font-family  'icomoon'
			font-size  1.7em

		.gv-end::before 
			content  icon-foward
			font-family  'icomoon'
			font-size  1.7em
			
		.gv-next::before 
			content  icon-next
			font-family  'icomoon'
			font-size  1.7em

		.gv-none::before 
			content  icon-calendar
			font-family  'icomoon'
			font-size  1.7em
			
		.gv-pager
			
			.columns
				height 30px
				padding-top 5px
			
			a,
			span,
			input 
				color  #333
				display  inline-block !important
				line-height  25px
				vertical-align  top
				
			a:hover
				color  #F22
				transition-duration  0.5s

		.gv-pages
			height  25px !important
			width  50px !important

		.gv-prev 
			margin-top -7px
			transform  rotate(180deg)

			&::before 
				content  icon-next
				font-family  'icomoon'
				font-size  1.7em

.inline-elem
	display inline-block
	vertical-align top

.button
	box-shadow 1px 1px 5px #333
	font-weight bold
	margin 1em 0.3em 0
	text-shadow 1px 1px 5px #333

	&.special
		margin 0 !important

	&.align-top
		margin-top 26px

.icon-spin
	-webkit-animation spin 2s infinite linear
	-moz-animation spin 2s infinite linear
	-o-animation spin 2s infinite linear
	animation spin 2s infinite linear

.isHidden
	display none !important

.loading
	background-color rgba(30, 30, 30, 0.5)
	height 100%
	left 0
	position absolute
	top 0
	width 100%
	z-index 199

	label 
		background-color #DEDEDE
		border 1px solid #333
		color #333
		font-size 1.1em
		left 45%
		padding 0.5em 1em
		position absolute
		top 45%

		i
			color #333

#pnl_data_tya
	background-color rgba(30, 30, 30, 0.5)
	bottom 0
	left 0
	position fixed
	right 0
	top 0
	z-index 190

	.modal-content
		background-color #FFF
		margin 0 auto
		margin-top 10%
		max-width 1000px
		min-width 700px
		padding 2em 3em
		position relative
		width 90%


.twitter-typeahead
	display block
	width 100%

	&.error
		padding 0 !important

	.error
		margin 0 !important
	
	.tt-dropdown-menu
		margin-top -10px
	&.tt-input
		&::-webkit-input-placeholder		
			&::before
				font-family 'icomoon'
				content icon-search

	.tya-find
		color #000
		position absolute
		right 10px
		top 12px
			
	.tya-clear
		display none
		position absolute
		right 30px
		top 12px

	.tya-loading
		display none
		color #33D
		position absolute
		right 50px
		top 12px

		&::before
			content icon-spinner
			font-family 'icomoon'

.margin-off
	margin 0

ul
	&.content-custom
		border 1px solid gray
		max-height 200px
		overflow hidden
		overflow-y scroll
		padding 0.5em
		width 90%

		li
			display block
			width 90%

.upload
	input
		display none

	.content-image
		display block

		img
			display block
			height 138px
			width 100%
.aling-right
	float right

.pnlAlert
	heigh auto
	margin-top 65px
	position absolute
	right 0
	top 0
	width 300px
	z-index 190

	.close
		font-weight bold
		opacity 1
		top 20px

.tt-input
	background-color #FFF !important
.upper-line
	text-align center
	strong
		border-top 1px solid black
		display block
		margin 0 auto
		width 80%


@media print
	.small-1
		width 8.33333%
	.small-2
		width 16.66667%
	.small-3
		width 25%
	.small-4
		width 33.33333%
	.small-5
		width 41.66667%
	.small-6
		width 50%
	.small-7
		width 58.33333%
	.small-8
		width 66.66667%
	.small-9
		width 75%
	.small-10
		width 83.33333%
	.small-11
		width 91.66667%
	.small-12
		width 100%

	html,
	body
		height auto
		margin 0
		overflow visible !important
		padding 0
		position relative
		width 100%

		header,
		main,
		#main-menu,
		.reveal-modal.open
			display none !important
        
		.pnl-print
			display block !important
			height auto
			left 0
			margin 0
			padding 0
			position absolute
			top 0
			width 100%
            
			h6
				line-height 100px
				margin 0
				padding 0
            
			img
				height 100px
				width 100%
            
			table
				tr,
				td
					border 1px solid black
					margin 0
					padding 0


@-moz-keyframes spin
	0%
		-moz-transform: rotate(0deg)
	100%
		-moz-transform: rotate(359deg)

@-webkit-keyframes spin
	0%
		-webkit-transform: rotate(0deg)
	100%
		-webkit-transform: rotate(359deg)

@-o-keyframes spin
	0%
		-o-transform: rotate(0deg)
	100%
		-o-transform: rotate(359deg)

@-ms-keyframes spin
	0%
		-ms-transform: rotate(0deg)
	100%
		-ms-transform: rotate(359deg)

@keyframes spin
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(359deg)

