/* --- Colores Base --- */
color-font = #fff
color-font-sm = #F8F8F8
color-base = #2B2B2B
color-base-sub = #333333
color-hover= #015DCA

/* --- Funciones --- */
clear()
	margin 0
	padding 0

fsombra(x = 3px, y = 3px, d = 10px, c = #333)
	text-shadow x y d c