<section id="arreglos">
	<div class="row">
		<h3>Arreglos</h3>
	</div>
	<div class="row">
		<table class="gv-datos"></table>
	</div>
	<div class="modal-save reveal-modal reveal-custom small" data-reveal='data-reveal'>
		<div class="pop-head">
			<label>Catalago de arreglos</label>
		</div>
		<form class="form-data pop-body" data-abide>
			<div class="row">
				<div class="small-4 columns">
					<label>
						Modulos en Serie: <small>requerida</small>
						<input type="text" placeholder="Nombre del generador" data-field="serie" maxlength="100" required/>
					</label>
					<small class="error">Los modulos en serie son requeridos.</small>
				</div>
				<div class="small-4 columns">
					<label>
						Modulos en paralelo: <small>requerida</small>
						<input type="text" placeholder="Nombre del generador" data-field="paralelo" maxlength="100" required/>
					</label>
					<small class="error">Los modulos en paralelo son requeridos.</small>
				</div>
				<div class="small-4 columns">
					<label>
						Potencia: <small>requerida</small>
						<input type="text" placeholder="Nombre del generador" data-field="potencia" maxlength="100" required/>
					</label>
					<small class="error">La potencia del generador es requerida.</small>
				</div>

				<div class="small-6 columns">
					<label>
						Voltaje: <small>requerida</small>
						<input type="text" placeholder="Nombre del generador" data-field="voltaje" maxlength="100" required/>
					</label>
					<small class="error">El voltaje del generador es requerido.</small>
				</div>
				<div class="small-6 columns">
					<label>
						Corriente: <small>requerida</small>
						<input type="text" placeholder="Nombre del generador" data-field="corriente" maxlength="100" required/>
					</label>
					<small class="error">La corriente del generador es requerido.</small>
				</div>
			</div>
		</form>
		<div class="row pop-footer">
			<div class="small-12 columns">
				<button type="button" class="btn-aceptar tiny success button guardar-btn">Guardar</button>
				<button type="button" class="btn-cancelar tiny alert button cancelar-btn">Cancelar</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<button type="button" class="btnAdd btn-nuevo tiny button success agregar-btn">Agregar</button>
			<button type="button" class="btn-modificar tiny button modificar-btn">Modificar</button>
			<button type="button" class="btn-eliminar tiny button alert cancelar-btn">Eliminar</button>
		</div>
	</div>
</section>