<section id="bombas">
	<div class="row">		
		<h3>Bombas</h3>
	</div>
	<div class="row">
		<table class="gv-datos"></table>
	</div>
	<div class="modal-save reveal-modal reveal-custom small" data-reveal='data-reveal'>
		<div class="pop-head">
			<label>Catalogo de bombas</label>
		</div>
		<form class="form-data pop-body" data-abide>
			<div class="row">
				<div class="small-12 columns">
					<label>
						Nombre de la bomba: <small>requerida</small>
						<input type="text" placeholder="Nombre de la bomba" data-field="nombre" maxlength="100" required/>
					</label>
					<small class="error">El nombre de la bomba es requerido.</small>
				</div>
				<div class="small-6 columns">
					<label>
						Cable: <small>requerido</small>
						<input type="text" placeholder="Nombre del cable" data-field="idCable" class="tya" required/>
					</label>
					<small class="error">El cable es requerido.</small>
				</div>
				<div class="small-6 columns">
					<label>
						Tubo: <small>requerido</small>
						<input type="text" placeholder="Nombre del tubo" data-field="idTubo" class="tya" required/>
					</label>
					<small class="error">El tubo es requerido.</small>
				</div>

				<div class="small-6 columns">
					<label>
						Salida: <small>requerido</small>
						<input type="text" placeholder="Salida de agua" data-field="idSalida" class="tya" required/>
					</label>
					<small class="error">El cable es requerido.</small>
				</div>
				<div class="small-6 columns">
					<label>
						Motor: <small>requerido</small>
						<input type="text" placeholder="Motor de la bomba" data-field="idMotor" class="tya" required/>
					</label>
					<small class="error">El cable es requerido.</small>
				</div>

				<div class="small-4 columns">
					<label>
						Altura Mínima: <small>requerida</small>
						<input type="text" placeholder="Altura Minima" data-field="alturaMinima" maxlength="100" required/>
					</label>
					<small class="error">La altura mínima es requerido.</small>
				</div>
				<div class="small-4 columns">
					<label>
						Altura Máxima: <small>requerida</small>
						<input type="text" placeholder="Altura Máxima" data-field="alturaMaxima" maxlength="100" required/>
					</label>
					<small class="error">El nombre de la bomba es requerido.</small>
				</div>
				<div class="small-4 columns">
					<label>
						Eficiencia: <small>requerida</small>
						<input type="text" placeholder="Eficiencia de la bomba" data-field="eficiencia" maxlength="100" required/>
					</label>
					<small class="error">La eficiencia de la bomba es requerido.</small>
				</div>

				<div class="small-4 columns">
					<label>
						Precio Distribuidor:
						<input type="text" placeholder="Precio para distribuidor" data-field="precioDistribuidor" maxlength="100">
					</label>
				</div>
				<div class="small-4 columns">
					<label>
						Precio de lista:
						<input type="text" placeholder="Precio de lista" data-field="precioLista" maxlength="100" >
					</label>
				</div>
				<div class="small-4 columns">
					<label>
						Precio Publico:
						<input type="text" placeholder="Precio para publico" data-field="precioPublico" maxlength="100"/>
					</label>
				</div>
				
				<div class="small-12 columns">
					<label>
						Flujo Máximo:
						<input type="text" placeholder="Flujo máximo de la bomba" data-field="flujoMaximo" maxlength="100"/>
					</label>
				</div>
			</div>
		</form>
		<div class="row pop-footer">
			<div class="small-12 columns">
				<button type="button" class="btn-aceptar tiny success button guardar-btn">Guardar</button>
				<button type="button" class="btn-cancelar tiny alert button cancelar-btn">Cancelar</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<button type="button" class="btnAdd btn-nuevo tiny button success agregar-btn">Agregar</button>
			<button type="button" class="btn-modificar tiny button modificar-btn">Modificar</button>
			<button type="button" class="btn-eliminar tiny button alert cancelar-btn">Eliminar</button>
		</div>
	</div>
</section>