<select>
	<div class="row">
		<div class="small-5 columns">
			Longitud de la linea de conduccion: L (m)=
			<input type="text" data-field="longitud"/>
		</div>
	</div>
</select>


<div class="modal-calculador reveal-modal reveal-custom medium" data-reveal='data-reveal'>
	<div class="pop-head ">
		<label>Caculador Perdidas Por Carga<label>
	</div>
	<div class="pop-body row">
		<div class="row">
			<div class="small-5 columns">
				Longitud de la linea de conduccion: L (m)=
				<input type="text" data-field="longitud"/>
			</div>
		</div>
	</div>
	<div class="row pop-footer">
		<div class="small-12 columns">
			<button type="button" class="btn-aceptar tiny success button">Aceptar</button>
		</div>
		<div class="small-12 columns">
			<button type="button" class="btn-cancelar tiny success button">Cancelar</button>
		</div>
	</div>
</div>
