<section id="mapaElementos">
	<div class="row">
		<div class="small-4 columns right">
			<div class="panel">
				<h5>Cable motor.</h5>
				<p>Cable entre regulador y unidad de bomba.</p>
			</div>
		</div>
		<div class="small-12 columns">
			<img src="images/mapaElementos.jpg" width="1000" height="500" border="0" alt="elementos" usemap="#partesBomba"/>
			<map id="partesbomba" name="partesBomba">

				<area shape="poly" coords="380,425,376,420,376,270,247,270,247,245,243,245,243,274,372,274,372,425,378,428" alt="elementos" href="#" />
			</map>
		</div>
	</div>
	<script type="text/template-handlebars-x" class="tmp_div_caracteristicas">
		<h5>{{#nombre}}</h5>
		<p>{{#descripcion}}</p>
	</script>
</section>

