<section id="mapaElementos">
	<div class="row">
		<div class="small-4 columns right isHidden">
			<div class="panel">
				<h5>Cable motor.</h5>
				<p>Cable entre regulador y unidad de bomba.</p>
			</div>
		</div>
		<div class="small-12 columns isHidden">
			<img src="images/mapaElementos.jpg" width="1000" height="500" border="0" alt="elementos" usemap="#partesBomba"/>
			<map id="partesbomba" name="partesBomba">

				<area shape="poly" coords="	386,432,
											382,428,
											382,272,
											251,272,
											251,249,
											245,249,
											245,279,
											376,279,
											376,432,
											384,434" alt="elementos" href="" />
				<area shape="poly" coords="	394,424,
											394,276,
											476,276,
											561,192,
											561,106,
											567,98,
											588,98,
											593,104,
											593,112,
											601,112,
											601,100,
											592,90,
											563,90,
											552,103,
											552,185,
											474,265,
											386,265,
											386,424" alt="elementos" href="" />
			</map>
		</div>
	</div>
	<script type="text/templhttp://localhost:1337/images/mapaElementos.jpgate-handlebars-x" class="tmp_div_caracteristicas">
		<h5>{{#nombre}}</h5>
		<p>{{#descripcion}}</p>
	</script>
</section>

