<section id="motores">
	<div class="row">
		<h3>Motores</h3>
	</div>
	<div class="row">
		<table class="gv-datos"></table>
	</div>
	<div class="modal-save reveal-modal reveal-custom small" data-reveal='data-reveal'>
		<div class="pop-head">
			<label>Catalogo de motores</label>
		</div>
	</div>
	<form class="form-data pop-body" data-abide>
		<div class="row">
			<div class="small-12 columns">
				<label>
					Nombre del motor: <small>requerida</small>
					<input type="text" placeholder="Nombre del motor" data-field="nombre" maxlength="100" required/>
				</label>
				<small class="error">El nombre del motor es requerido.</small>
			</div>
			<div class="small-6 columns">
				<label>
					Energía del motor: <small>requerida</small>
					<input type="text" placeholder="Energia requerida para el motor" data-field="energia" maxlength="100" required/>
				</label>
				<small class="error">La energía del motor es requerido.</small>
			</div>
			<div class="small-6 columns">
				<label>
					Capacidad del motor: <small>requerida</small>
					<input type="text" placeholder="Capacidad del motor" data-field="capacidad" maxlength="100" required/>
				</label>
				<small class="error">La capacidad del motor es requerido.</small>
			</div>
		</div>
	</form>
</section>