<section id="orled">
	<div>
		<div class="gvBombas"></div>
		<dl class="tabs tabs-custom" data-tab>
			<dd class="active"><a href="#entradas">
				<i class="icon-datosPapel"></i>
				<span>Entradas</span>
				</a>
			</dd>
			<dd><a href="#cableado">
				<i class="icon-cable"></i>
				<span>Cableado</span>
				</a>
			</dd>
		</dl>
		<div class="tabs-content tabs-content-custom">
			<div class="content active" id="entradas">
				<div class="small-3 columns">
					<aside class="pnl-datos">
						<form class="form-data" data-abide>
							<fieldset>
								<legend>General</legend>
								<div class="small-12 columns">
									<label>
										<p>Lugar</p>
										<input type="text" placeholder="Pais" data-field="idPais" class="tya"/>
									</label>
									<small class="error">El campo es requerido.</small>
								</div>
								<div class="small-12 columns">
									<label>
										<input type="text" placeholder="Localidad" data-field="idLocalidad" class="tya" required/>
									</label>
									<small class="error">El campo es requerido.</small>
								</div>
								<div class="small-6 columns text-center">
									<div class="small-11 columns text-center">
										<small>Angulo de inclinación</small>
										<input type="text" min="0" data-field="anguloInclinacion" class="anguloIncli" />
									</div>
									<div class="small-1 columns">
										<p class="simboloInput">°</p>
									</div>
								</div>
								<div class="small-6 columns text-center">
									<div class="small-11 columns text-center">
										<small>Pérdida por suciedad</small>
										<input type="number" min="0" data-field="perdida" value=".3"/>
									</div>
									<div class="small-1 columns">
										<p class="simboloInput">m</p>
									</div>	
								</div>
								<div class="small-6 columns text-center">
									<div class="small-11 columns text-center">
										<small>Temp. del agua</small>
										<input type="number" min="0" data-field="temperatura" value="25" />
									</div>
									<div class="small-1 columns">
										<p class="simboloInput">°C</p>
									</div>
								</div>
								<div class="small-6 columns text-center">
									<div class="small-11 columns text-center">
										<small>Cable del motor</small>
										<input type="number" min="0" data-field="cable"/>
									</div>
									<div class="small-1 columns">
										<p class="simboloInput">m</p>
									</div>
								</div>
								<div class="small-12 columns text-center">
									<p>Lado de descarga</p>							
									<div class="small-12 small columns text-center">
										<div class="small-8 columns">
											<div class="small-11 columns">
												<small>Altura dinámica</small>
												<label>
													<input type="number" min="0" data-field="alturaDinamica" required value="1" />
												</label>
												<small class="error">Este campo es requerido</small>
											</div>
											<div class="small-1 columns">
												<p class="simboloInput">m</p>
											</div>
										</div>									
										<div class="small-4 columns">
											<label>
												<button type="button" class="button btn-calcular-altura tiny espacio-top"><i class="icon-calc"></i>Calcular</button>
											</label>
										</div>
									</div>
								</div>	
								<div class="small-12 columns text-center">
									<label>
										<input type="checkbox" data-field="idLongitudTuberia"/> Longitud de la tubería
									</label>
								</div>
								<div class="small-5 small-centered columns text-center">
									<div class="small-11 columns text-center">
										<input type="number" min="0" data-field="longitudTuberia" disabled="disabled" class="longTube" />
									</div>
									<div class="small-1 columns">
										<p class="simboloInput">m</p>
									</div>
								</div>
								<div class="small-12 columns">
									<p class="text-center">Requerimientos del suministro</p>
								</div>
								<div class="small-12 columns text-center">
									<div class="small-12 columns text-center">
										<small>Rendimiento diario requerido</small>
									</div>
									<div class="small-3 small-centered columns">
										<input type="number" min="0" data-field="rendimientoDiario"/>
									</div>
									<div class="small-5 columns">
										<p class="simboloInput">m³</p>
									</div>
								</div>
								<div class="small-12 columns">
									<button type="button" class="button btn-calcular-grafica expand">Graficar</button>
								</div>
							</fieldset>
						</form>
					</aside>
				</div>
				<div class="small-9 columns">
					<div class="sub-content pnl-entradas"></div>
				</div>
			</div>
			<div class="content" id="cableado">
					<div class="small-9 columns">
					<div class="sub-content pnl-cableado"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="reveal-modal reveal-custom small modal-items" id="itemsModal" data-reveal='data-reveal'>
		<div class="pop-head">
			<label>Catalogo de Elementos</label>
		</div>
		<form class="form-data pop-body" data-abide>
			<div class="row contenedorScroll-y">
				<div class="gvItems"></div>				
			</div>
		</form>
		<div class="small-4 small-centered columns">
		</div>

		<div class="row pop-footer">
			<div class="small-5 small-centered columns">
				<button type="button" class="btn-aceptar tiny success button aceptar-btn">Aceptar</button>
				<button type="button" class="btn-cancelar tiny alert button cancelar-btn">Cancelar</button>
			</div>
		</div>
	</div>
	<div class="reveal-modal reveal-custom small modal-arreglo" data-reveal='data-reveal'>
		<div class="pop-head">
			<label>Arreglo Fotovoltaico</label>
		</div>
		<form class="form-data pop-body" data-abide>
			<div class="small-6 columns">
				Módulo en serie =
				<label class="modulo-serie"></label>
			</div>
			<div class="small-6 columns">
				Módulo en paralelo =
				<label class="modulo-paralelo"></label>
			</div>
			<div class="small-6 columns">
				Total Módulos =
				<label class="total-modulos"></label>
			</div>
			<div class="small-6 columns">
				Tamaño del arreglo fotovaltaico =
				<label class="tamano-areglo"></label>
			</div>
		</form>
		<div class="row pop-footer">
			<div class="small-12 small columns">
				<button type="button" class="btn-cancelar tiny alert button cancelar-btn">Cancelar</button>
			</div>
		</div>
	</div>
	<script type="text/template-handlebars-x" class="tmp_bombas">
		<div class="small-12 columns">
			<table class="table table-custom">
				<thead>
					<tr class="titulo">
						<th><span>Sistemas de bombeo</span></th>
						<th><span>Generador PV</span></th>
						<th><span>ETATRACK</span></th>
						<th><span>Accesorios</span></th>
						<th><span>Cable</span></th>
						<th><span>Tubo Ø D</span></th>						
						<th><span>Altura</span></th>
						<th><span>Output</span></th>
						<th><span>Eficiencia</span></th>
					</tr>
					<tr class="menuInput">
						<th><input type="text" class="nombreBombaTabla" data-idbomba='0'/><i class="icon-menu openItemModal" data-valor="1"></i></th>
						<th><input type="text" class="nombreGenerador" data-idgenerador='0'/><i class="icon-menu openItemModal" data-valor="2"></i></th>
						<th></th>
						<th></th>
						<th><input type="text" class="nombreCable isHidden"/><i class="icon-menu isHidden" data-valor="3"></i></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{#bombas}}
						<tr class="selectCell" data-nombreBomba="{{nombreBomba}}" data-idbomba="{{idBomba}}" data-generador="{{generador}}" data-idgenerador="{{idGenerador}}" data-cable="{{cable}}">
							<td>{{nombreBomba}}</td>
							<td>{{generador}}</td>
							<td>{{etatrack}}</td>
							<td>{{accesorios}}</td>
							<td>{{cable}}</td>
							<td>{{tubo}}</td>						
							<td>{{alturaMinima}}...{{alturaMaxima}}</td>
							<td>{{salida}}</td>
							<td>{{eficiencia}}</td>
						</tr>
					{{/bombas}}
				</tbody>
			</table>
		</div>	
	</script>
	<script type="text/template-handlebars-x" class="tmp_items">
		<table class="table table-custom">
			<thead>
				<tr class="titulo">
					<th><span>Elementos</span></th>
				</tr>
			</thead>
			<tbody>
				{{#items}}
					<tr class="selectCell" data-item="{{item}}" data-tipoItem="{{tipoElemento}}" data-idbomba="{{idBomba}}" data-idgenerador="{{idGenerador}}">
						<td>{{item}}</td>
					</tr>
				{{/items}}
			</tbody>
		</table>
	</script>
</section>