<section id="orled">
	<div>
		<div class="gvBombas"></div>
		<dl class="tabs tabs-custom" data-tab>
			<dd class="active"><a href="#entradas">
				<i class="icon-datosPapel"></i>
				<span>Entradas</span>
				</a>
			</dd>
			<dd class="isHidden"><a href="#cableado">
				<i class="icon-cable"></i>
				<span>Cableado</span>
				</a>
			</dd>
		</dl>
		<div class="tabs-content tabs-content-custom">
			<div class="content active" id="entradas">
				<div class="small-3 columns">
					<aside class="pnl-datos">
						<form class="form-data" data-abide>
							<fieldset>
								<legend>General</legend>
								<!--div class="small-12 columns">
									<label>
										<p>Lugar</p>
										<input type="text" placeholder="Pais" data-field="idPais" class="tya"/>
									</label>
									<small class="error">El campo es requerido.</small>
								</div-->
								<div class="small-12 columns">
									<label>
										<input type="text" placeholder="Localidad" data-field="idLocalidad" class="tya" required/>
									</label>
									<small class="error">El campo es requerido.</small>
								</div>
								<div class="row">
									<div class="small-6 columns text-center">
										<div class="row collapse">
											<label>Angulo de inclinación</label>
											<div class="small-10 columns text-center">
												<input type="text" data-field="anguloInclinacion" class="anguloIncli text-right" disabled="disabled" />
											</div>
											<div class="small-2 columns">
												<span class="postfix">°</span>
											</div>
										</div>
									</div>
									<div class="small-6 columns text-center">
										<div class="row collapse">
											<label>Pérdida por suciedad</label>
											<div class="small-10 columns text-center">
												<input type="text" data-field="perdida" value=".3" class="text-right linker-spinner spinner-decimal" />
											</div>
											<div class="small-2 columns">
												<span class="postfix">m</span>
											</div>
										</div>	
									</div>
								</div>

								<div class="row">
									<div class="small-6 columns text-center">
										<div class="row collapse">
											<label>Temp. del agua</label>
											<div class="small-10 columns text-center">
												<input type="text" data-field="temperatura" value="25" class="text-right linker-spinner" />
											</div>
											<div class="small-2 columns">
												<span class="postfix">°C</span>
											</div>
										</div>
									</div>
									<div class="small-6 columns">
										<div class="row collapse">
											<label>Cable del motor</label>
											<div class="small-10 columns">
												<input type="text" data-field="cable" class="text-right linker-spinner" />
											</div>
											<div class="small-2 columns">
												<span class="postfix">m</span>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="small-12 columns text-center">
										<p>Lado de descarga</p>
									</div>	
									<div class="small-12 columns text-center">
										<label>
											<span class="spn-altcar-dinamica">Altura dinámica</span>
											<div class="row collapse">
												<div class="small-9 columns">
													<input type="text" data-field="alturaDinamica" required value="0" class="text-right linker-spinner" />
												</div>
												<div class="small-3 columns">
													<span class="postfix">m</span>
												</div>
											</div>
										</label>
									</div>
								</div>

								<br/>
								<div class="row">
									<div class="small-12 columns text-center">
										<label>
											<input type="checkbox" data-field="idLongitudTuberia"/> Longitud de la tubería
										</label>
									</div>
								</div>

								<div class="row">
									<div class="small-6 columns">
										<label>
											Longitud de la linea de conducción:
											<div class="row collapse">
												<div class="small-10 columns">
													<input type="text" data-field="longitudTuberia" disabled="disabled" class="longTube text-right linker-spinner" />
												</div>
												<div class="small-2 columns">
													<span class="postfix">m</span>
												</div>
											</div>
										</label>
									</div>
									<div class="small-6 columns">
										<label>
											Dif. de altura de descarga:
											<div class="row collapse">
												<div class="small-10 columns">
													<input type="text" data-field="alturaTuberia" disabled="disabled" class="longTube text-right linker-spinner" />
												</div>
												<div class="small-2 columns">
													<span class="postfix">m</span>
												</div>
											</div>
										</label>
									</div>
								</div>

								<div class="row">
									<div class="small-6 columns">
										<label>
											Diametro:
											<select data-field="diametroTuberia" disabled="disabled" class="longTube">
												<option value="0.5">1/2</option>
												<option value="0.75">3/4</option>
												<option value="1">1</option>
												<option value="1.15">1 1/4</option>
												<option value="1.5">1 1/2</option>
												<option value="1.75">1 3/4</option>
												<option value="2" selected="selected">2</option>
												<option value="2.5">2 1/2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
												<option value="7">7</option>
												<option value="8">8</option>
												<option value="9">9</option>
												<option value="10">10</option>
												<option value="11">11</option>
												<option value="12">12</option>
												<option value="13">13</option>
												<option value="14">14</option>
												<option value="15">15</option>
												<option value="16">16</option>
											</select>
										</label>
									</div>
									<div class="small-6 columns">
										<label>
											Coeficiente
											<select data-field="coeficienteTuberia" disabled="disabled" class="longTube">
												<option value="0.01">Plastico (PVC, Poliducto) [0.01]</option>
												<option value="0.011">Acero [0.011]</option>
												<option value="0.017">Acero galvanizado [0.017]</option>
											</select>
										</label>
									</div>
								</div>

								<div class="row">
									<div class="small-12 columns">
										<button type="button" class="button btn-calcular-carga success tiny expand longTube" disabled="disabled"><i class="icon-calc"></i> Calcular carga dinamica</button>
									</div>
								</div>

								<div class="row">
									<div class="small-12 columns">
										<h5 class="text-center"><strong>Requerimientos del suministro</strong></h5>
									</div>
									<div class="small-12 columns text-center">
										<div class="row collapse">
											<label>Rendimiento diario</label>
											<div class="small-9 columns">
												<input type="text" data-field="rendimientoDiario" value="0" class="text-right linker-spinner" />
											</div>
											<div class="small-3 columns">
												<span class="postfix">m³</span>
											</div>
										</div>
									</div>
								</div>
								<br/>
								<div class="row">
									<div class="small-12 columns">
										<button type="button" class="button btn-calcular-grafica expand columnas-btn">Calcular</button>
									</div>
								</div>
							</fieldset>
						</form>
					</aside>
				</div>
				<div class="small-9 columns">
					<div class="sub-content pnl-entradas"></div>
				</div>
			</div>
			<div class="content" id="cableado">
					<div class="small-9 columns">
					<div class="sub-content pnl-cableado"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="reveal-modal reveal-custom small modal-items" id="itemsModal" data-reveal='data-reveal'>
		<div class="pop-head">
			<label>Catalogo de Elementos</label>
		</div>
		<form class="form-data pop-body" data-abide>
			<div class="row contenedorScroll-y">
				<div class="gvItems"></div>				
			</div>
		</form>
		<div class="small-4 small-centered columns">
		</div>

		<div class="row pop-footer">
			<div class="small-5 small-centered columns">
				<button type="button" class="btn-aceptar tiny success button aceptar-btn">Aceptar</button>
				<button type="button" class="btn-cancelar tiny alert button cancelar-btn">Cancelar</button>
			</div>
		</div>
	</div>
	<div class="reveal-modal reveal-custom small modal-arreglo" data-reveal='data-reveal'>
		<div class="pop-head">
			<label>Arreglo Fotovoltaico</label>
		</div>
		<form class="form-data pop-body" data-abide>
			<table class="table table-custom">
				<thead>
					<tr class="titulo">
						<th><span>Bomba</span></th>
						<th><span>Motor</span></th>
						<th><span>Agua Bombeada</span></th>						
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><label class="nombre-bomba"></label></td>
						<td><label class="nombre-motor"></label></td>
						<td><label class="agua-bombeada"></label></td>						
					</tr>
				</tbody>
			</table>			
			<table class="table table-custom">
				<thead>
					<tr class="titulo">
						<th><span>Módulo en serie</span></th>
						<th><span>Módulo en Paralelo</span></th>
						<th><span>Tamaño del Arreglo fotovoltaico</span></th>
						<th><span>Total de módulos</span></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><label class="modulo-serie"></label></td>
						<td><label class="modulo-paralelo"></label></td>
						<td><label class="tamano-areglo"></label></td>
						<td><label class="total-modulos"></label></td>
					</tr>
				</tbody>
			</table>
		</form>
		<div class="row pop-footer">
			<div class="small-12 small columns">
				<button type="button" class="btn-cancelar tiny alert button cancelar-btn">Cancelar</button>
			</div>
		</div>
	</div>
	<script type="text/template-handlebars-x" class="tmp_bombas">
		<div class="small-12 columns">
			<table class="table table-custom">
				<thead>
					<tr class="titulo">
						<th><span>Sistemas de bombeo</span></th>
						<th><span>Generador PV</span></th>						
						<th><span>Cable</span></th>
						<th><span>Tubo Ø D</span></th>						
						<th><span>Altura</span></th>
						<th><span>Output</span></th>
					</tr>
					<tr class="menuInput">
						<th><select data-filed="bomba"></select></th>
						<th><select data-filed="generador"></select></th>
						<th></th>
						<th></th>
						<th>
							<input type="text" class="nombreCable isHidden"/><i class="icon-menu isHidden" data-valor="3"></i>
						</th>
						<th></th>						
					</tr>
				</thead>
				<tbody>
					{{#bombas}}
						<tr class="selectCell" data-idbomba="{{idBomba}}">
							<td>{{nombre}}</td>
							<td class="compuesto">{{CompuestoActivo.idGenerador.nombre}} {{CompuestoActivo.idArreglo.potencia}} Wp ({{CompuestoActivo.idArreglo.serie}}x{{CompuestoActivo.idArreglo.paralelo}})</td>							
							<td>{{idCable.nombre}}</td>
							<td>{{idTubo.nombre}}</td>						
							<td>{{alturaMinima}}...{{alturaMaxima}}</td>
							<td>{{idSalida.nombre}}</td>
						</tr>
					{{/bombas}}
				</tbody>
			</table>
		</div>	
	</script>
	<script type="text/template-handlebars-x" class="tmp_items">
		<table class="table table-custom">
			<thead>
				<tr class="titulo">
					<th><span>Elementos</span></th>
				</tr>
			</thead>
			<tbody>
				{{#items}}
					<tr class="selectCell" data-item="{{item}}" data-tipoItem="{{tipoElemento}}" data-idarreglo="{{idArreglo}}" data-idbomba="{{idBomba}}" data-idgenerador="{{idGenerador}}">
						<td>{{item}}</td>
					</tr>
				{{/items}}
			</tbody>
		</table>
	</script>
	<script type="text/template-handlebars-x" class="tmp_bombas_options">
		<option value="-1">Seleccione un registro</option>
		{{#data}}
			<option value="{{idBomba}}">{{nombre}}</option>
		{{/data}}
	</script>
	<script type="text/template-handlebars-x" class="tmp_componente_options">
		{{#data}}
			<option value="{{idCompuesto}}">{{idGenerador.nombre}} {{idArreglo.potencia}} Wp ({{idArreglo.serie}}x{{idArreglo.paralelo}})</option>
		{{/data}}
	</script>
</section>